<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ferdouse's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <table cellspacing="20">
        <tr>
            <td><img src="static/ferdous.png" alt="Ferdous profile picture" height="180px", width="180px"></td>
            <td><h1>Md Ferdous Hossain Bhuiya</h1>
                <p>I am an Electrical Engineer, Data Analyst and Web developer. I ❤️ coffee and travelling.</p></td>
        </tr>
    </table>
    <hr>

    <h3>Work Experience</h3>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2010-2023</td>
                <td>Electrical Engineer at Al Ain Distribution Company, Al Ain, Abu Dhabi, UAE</td>
            </tr>
            <tr>
                <td>2007-2010</td>
                <td>Electrical Engineer at Ranya Contracting Establishment, Abu Dhabi, UAE</td>
            </tr>
            <tr>
                <td>2004-2007</td>
                <td>Executive Engineer at Training Institute for Chemical Industries Bangladesh, Dhaka, Bangladesh</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
        <tr>
            <td>Electrical Distribution Line Installation</td>
            <td>⭐️⭐️⭐️⭐️⭐️</td>
        </tr>
        <tr>
            <td>Electrical Distribution Line Maintenance</td>
            <td>⭐️⭐️⭐️⭐️⭐️</td>
        </tr>
        <tr>
            <td>Python Programming</td>
            <td>⭐️⭐️⭐️⭐️</td>
        </tr>
        <tr>
            <td>Data Analyst, Power BI presentation</td>
            <td>⭐️⭐️⭐️⭐️</td>
        </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
</body>
</html>
