<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Md Ferdouse Hossain Bhuiya</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/images/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Ferdous</h1>
      <h2>a <span class="pro">Data</span>analyst.</h2>
    </div>

  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/ferdous.png" alt="ferdous-profile-img" height="200px" width="200px">
      <h2>Hello.</h2>
      <p class="intro">I am an Electrical Engineer and Data analyst, Python programmer. I love to travel, web browsing and to solve the critical math problems.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I am passionate about designing and developing electronic circuits for controlling
          power machines. When I began my career in power distribution,
          I developed control circuits used in distribution lines.
          Eventually, I pursued a Master's degree in Electrical Engineering,
          during which I published a paper in an international journal.
          Simultaneously, I embarked on my coding journey,
          and now I can develop web pages and am proficient in data analytics.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/bk.png" alt="burj Khalifa-img">
        <img class="chilli-img" src="static/images/pt.png" alt="Petronas Tower-img">
        <h3>Travelling in different countries</h3>
        <p>Traveling to different iconic locations is truly enjoyable.
          I have visited India, Pakistan, Oman, Saudi Arabia, the UAE, and I am currently living
          in the USA. Each country has offered unique experiences, from the bustling streets of
          Mumbai to the serene deserts of Oman.
          I have explored historical landmarks, tasted diverse cuisines, and immersed myself in
          various cultures. These journeys have broadened my perspective and deepened
          my appreciation for the world's diversity.
          Traveling has become a passion that continuously enriches my life,
          inspiring me to seek new adventures and create lasting memories.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love coding and Electrical Power.</h3>
      <p class="contact-message">If you like my profile and want to share some experience, please contact me.</p>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ferdousb/">LinkedIn</a>
    <a class="footer-link" href="https://x.com/ferdousbhuiya">Twitter</a>

    <p class="copyright">© 2024 Ferdous Bhuiya @ The learner.</p>
  </div>
</body>

</html>
