<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Movies</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Movies</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Ranking</th>
            <th>Review</th>
            <th>Image URL</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.description }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.ranking }}</td>
            <td>{{ movie.review }}</td>
            <td>{{ movie.img_url }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
